.App {
  text-align: center;
}

.App-header {
  background-color: #8294b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  margin-left: 10px;
  margin-right: 10px;
}

.update-task-modal-input {
  margin: 5px;
  width: fit-content;
  height: fit-content;
  font-size: x-large;
  border: solid 1px black;
  border-radius: 5px;
}

.update-task-modal-button {
  margin: 5px;
  padding: 5px;
  font-size: x-large;
  width: fit-content;
  height: fit-content;
  color: white;
  background-color: orangered;
  border: solid 2px black;
  border-radius: 5px;
}
